<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<head>
    <title>回调页面</title>

</head>
<body>
<div  style=" margin: 0 auto; margin-bottom: 10px; width:600px; height: 50px;"><span> 回调页面</span></div>
<div  style=" margin: 0 auto; margin-bottom: 10px; width:600px; height: 50px;"><span>欢迎使用道驰科技流量充值API--Demo  <a href="__MODULE__/Ask/phone">充值页面</a></span></div>

</body>
</html>